stages:
  - build
  - deploy

variables:
  IMAGE_NAME: r-open-webui

build_image:
  stage: build
  variables:
    VERSION_TAG: ${CI_COMMIT_TAG}
  tags:
    - windows
    - shell
  script:
    - $JSON_VERSION = $(node -p "require('./package.json').version")
    - echo "Package version $JSON_VERSION"
    - docker build -f Dockerfile.renesas -t ${IMAGE_NAME}:${VERSION_TAG} .
    - docker save -o image.tar ${IMAGE_NAME}:${VERSION_TAG}
    - docker rmi ${IMAGE_NAME}:${VERSION_TAG}
    - bash -c "split -b 200000000 image.tar image.tar.part-" # Split the tar file into 200MB parts
  artifacts:
    paths:
      - image.tar.part-* # Upload all the parts as artifacts
  rules:
    - if: $CI_COMMIT_TAG =~ /^r.*/

.deploy_base:
  stage: deploy
  tags:
    - linux
    - deploy
    - web
  variables:
    VERSION_TAG: ${VERSION_TAG}
  script:
    - export DATABRICKS_CLIENT_ID=$DATABRICKS_CLIENT_ID
    - export DATABRICKS_CLIENT_SECRET=$DATABRICKS_CLIENT_SECRET
#    - curl --location --output artifacts.zip --url "https://jc.gitlab.renesasworkbench.com/api/v4/projects/$CI_PROJECT_ID/jobs/$TARGET_JOB_ID/artifacts?job_token=$CI_JOB_TOKEN"
#    - unzip -o "artifacts.zip" -d "./"
#    - cat image.tar.part-* > image.tar
#    - docker load -i image.tar
    - docker compose -f $COMPOSE_FILE up --force-recreate -d
#    - docker system prune -af

deploy_production:
  extends: .deploy_base
  variables:
    COMPOSE_FILE: docker-compose.renesas.yaml
  before_script:
    - cp $SSL_CRT ./ssl/nginx.crt
    - cp $SSL_KEY ./ssl/nginx.key
  rules:
    - if: '$SOURCE_TRIGGER == "request_deploy_production"'

deploy_development:
  extends: .deploy_base
  variables:
    COMPOSE_FILE: docker-compose.renesas.dev.yaml
  rules:
    - if: '$SOURCE_TRIGGER == "request_deploy_development"'