stages:
  - build

variables:
  IMAGE_NAME: r-open-webui

build_image:
  stage: build
  variables:
    VERSION_TAG: ${CI_COMMIT_TAG}
  tags:
    - windows
    - shell
  script:
    - $JSON_VERSION = $(node -p "require('./package.json').version")
    - echo "Package version $JSON_VERSION"
    - docker build -f Dockerfile.renesas -t ${IMAGE_NAME}:${VERSION_TAG} .
    - docker save -o image.tar ${IMAGE_NAME}:${VERSION_TAG}
    - docker rmi ${IMAGE_NAME}:${VERSION_TAG}
    - bash -c "split -b 200000000 image.tar image.tar.part-" # Split the tar file into 200MB parts
  artifacts:
    paths:
      - image.tar.part-* # Upload all the parts as artifacts
  rules:
    - if: $CI_COMMIT_TAG =~ /^r.*/

#deploy_main:
#  stage: deploy
#  tags:
#    - linux
#    - deploy
#    - web
#  needs:
#    - build_image
#  script:
#    - cp $SSL_CRT ./ssl/nginx.crt
#    - cp $SSL_KEY ./ssl/nginx.key
#    - export DATABRICKS_CLIENT_ID=$DATABRICKS_CLIENT_ID
#    - export DATABRICKS_CLIENT_SECRET=$DATABRICKS_CLIENT_SECRET
#    - cat image.tar.part-* > image.tar # Reassemble the tar file
#    - docker load -i image.tar
#    - docker compose -f docker-compose.renesas.yaml up --force-recreate -d
#    - docker system prune -af
#  only:
#    - main